* {
  box-sizing: border-box;
  padding: 0%; 
  margin:0%; 
}

.header {
padding: 20px;
font-style: normal;
background-color: lightcoral;
color: black;
}

.header h1 {
    display: inline-flex;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
}

.header nav {
display: inline-flex;
padding-top: 15px;
margin-right: 20px;
float: right;
}

.header nav ul {
list-style-type: none;
}

.header nav ul li {
    display: inline-flex;
    margin-left: 30px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#self {
    width: 500px;
    height: fit-content;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 150px;
    float: left;
}

.about-me {
display: flexbox;
padding: auto;
margin: 100px 0px 600px 800px;
}

.about-me h2 {
    width: fit-content;
    height:fit-content;
    background-color: lightskyblue;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.about-me h2 p {
width: auto;
height: auto;
background-color: aqua;

}
.work {
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.project-1 {
height: 200px;
width: 300px;
border: 10px solid green;
padding: 50px;
margin: 100px 0px 0px 500px;
display: flexbox;
flex-direction: column;

}

.contact-me {
    text-align: center;
    margin-top: 300px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contact-me ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-me ul li {
    margin: 10px 0;
}

footer {
    background-color: lightcoral;
    color: black;
    text-align: center;
    padding: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}